@model Administrate.Models.ExpensasModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExpensasModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipoDeGastos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoDeGastos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.concepto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.concepto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.periodoDeFacturacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.periodoDeFacturacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDegasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDegasto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
