@model IEnumerable<Administrate.Models.ExpensasModel>

@{
    ViewBag.Title = "Index";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipoDeGastos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.concepto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.periodoDeFacturacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDegasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipoDeGastos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.concepto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.periodoDeFacturacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDegasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
