@model Administrate.Models.BuildingModel

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Address)</h2>

<div>
     <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cuit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", "BuildingModels", new { id = Model.BuildingID }, new { @class = "btn btn-default" }) |
   

    @Html.ActionLink("Volver al perfil", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" , @class = "btn btn-default"  })

</p>
<p style="font-size:x-large">Departamentos<p>
    @Html.ActionLink("Agregar Departamento", "Create", "Departament", new { id = Model.BuildingID }, new { @class = "btn btn-default" }) |
    @Html.Action("DepartmentByBuilding", new { Id = Model.BuildingID })

<p style="font-size:x-large">Expensas<p>
        @Html.ActionLink("Agregar detalle expensas", "Create", "Expensas", new { id = Model.BuildingID }, new { @class = "btn btn-default" })

        @Html.Action("ExpensasByBuilding", new { Id = Model.BuildingID })
