@model Administrate.Models.DepartamentoModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DepartamentoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Floor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Floor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentNumberLetter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentNumberLetter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaOfThePropertyCover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaOfThePropertyCover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasGarage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasGarage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Volver a Edificios", "Details", "BuildingModels", new { id = Model.Building_ID }, new { @class = "btn btn-default" })
</p>
